<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>APIQUINAS</title>
  </head>
  <body>
    <h1>Welcome to APIQUINAS!</h1>
    <h2>Your resourse for the best wisdom of the European Middle Ages.</h2>

    <h3>This API currently has two possible formats:</h3>
    <h4>To get one random quote, use "/apiquinas/one-quote"</h4>
    <a href="/apiquinas/one-quote">See an example of a random quotes</a>
    <h4>To get all the quotes, use "/apiquinas/all-quote"</h4>
    <a href="/apiquinas/all-quotes">See an example of all the quotes</a>

    <!-- <h4>See me in action:</h4> -->

    <!-- <form action="/quote">
      <button>Get me a cool quote</button>
    </form> -->

    <section></section>
  </body>
</html>
